{% extends "./index.html" %}
{% load i18n %}
{% block navbar %}
<div class="weui-navbar" id="navbar-tab">
{% for category in category_list %}
  <div class="weui-navbar__item">
    {{ category.name }}
  </div>
{% empty %}
{% endfor %}
</div>
{% endblock navbar %}

{% block content %}
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd" id="panel-content">
  </div>
</div>
{% endblock content %}
{% block js %}
{{ block.super }}
<script>
let loading = weui.loading('{% trans "loading" %}');
loading.hide(function() {
  let url = "{% url 'lectures.list_lectures' 0 %}".replace('0', '{{ category_id }}');
  $('#panel-content').load(url);
  $('#navbar-tab > div.weui-navbar__item').removeClass('weui-bar__item_on');
  $('#navbar-tab > div:nth-child({{ category_id }})').addClass('weui-bar__item_on');
});
weui.tab('#navbar-tab',{
  defaultIndex: 0,
  onChange: function(index){
    $('#panel-content').empty();
    let loading = weui.loading('{% trans "loading" %}');
    loading.hide(function() {
      let url = "{% url 'lectures.list_lectures' 0 %}".replace('0', index + 1);
      $('#panel-content').load(url);
    });
  }
});
</script>
{% endblock js %}
