{% extends "./index.html" %}
{% load i18n %}
{% block title %}{% trans "Lecture Detail" %}{% endblock title %}

{% block css %}
{{ block.super }}
<style>
#login-btn {
  border-radius: 0px;
  width: 100%;
}
#login-btn:after {
  border: 0px;
  border-radius: 0px;
}
#signup-btn {
  border-radius: 0px;
  width: 100%;
}
#signup-btn:after {
  border: 0px;
  border-radius: 0px;
}
</style>
{% endblock css %}

{% block content %}
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <a class="weui-media-box weui-media-box_appmsg" id="action-menu">
      <div class="weui-media-box__hd">
        <img class="weui-media-box__thumb" src="{{ MEDIA_URL }}{{ lecture.speaker.picture }}" alt="">
      </div>
      <div class="weui-media-box__bd">
        <h4 class="weui-media-box__title">{% blocktrans with number=lecture.meeting.number %}The {{ number }} Meeting: {% endblocktrans %}{{ lecture.topic }}</h4>
        <p class="weui-media-box__desc">{{ lecture.speaker.intro }}</p>
        <ul class="weui-media-box__info" style="color: black">
          <li class="weui-media-box__info__meta">
          {% blocktrans with month=lecture.time|date:"n" day=lecture.time|date:"j" time=lecture.time|time:"TIME_FORMAT" %}
          Time: {{ month }} Month {{ day }} Day {{ time }}
          {% endblocktrans %}
          </li>
          {% if lecture.is_finished %}
          <li class="weui-media-box__info__meta">
          {% blocktrans %}Comments: {{ comment_num }}  Score: {{ comment_avg_score }}{% endblocktrans %}
          </li>
          {% endif %}
        </ul>
      </div>
    </a>
  </div>
</div>
<div class="weui-panel weui-panel_access">
  <div class="weui-panel__bd">
    <div class="weui-tab">
      {% if lecture.is_finished %}
      <div class="weui-navbar" id="navbar-tab" style="background-color: white" >
        <div class="weui-navbar__item">
        {% trans "Lecture Info" %}
        </div>
        <div class="weui-navbar__item">
        {% trans "Comments" %}
        </div>
      </div>
      {% endif %}
      <div class="weui-tab__panel" >
        <div class="weui-tab__content" style="display: block" id="panel-content0">
          {% if not lecture.is_finished %}
          <a class="weui-cell weui-cell_access" href="{% url 'feedbacks.add_question' lecture.id %}">
            <div class="weui-cell__bd"></div>
            <div class="weui-cell__ft">{% trans "Add Question" %}</div>
          </a>
          <div class="weui-cell" style="padding: 0px, 0px;"></div>
          {% endif %}
          <div class="weui-cell__bd">
            <article class="weui-article">
              {{ lecture.info }}
            </article>
          </div>
        </div>
        {% if lecture.is_finished %}
        <div class="weui-tab__content" id="panel-content1">
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block tabbar %}
{% if user.is_anonymous %}
<div class="weui-tabbar">
  <a href="{% url 'accounts.login' %}" class="weui-btn weui-btn_primary" id="login-btn">{% trans "Please Login" %}</a>
</div>
{% elif user.is_authenticated and not lecture.is_finished %}
<div class="weui-tabbar">
  <a class="weui-btn weui-btn_primary" id="signup-btn">{% trans "Sign up" %}</a>
</div>
{% elif user.is_authenticated and lecture.is_finished %}
<div class="weui-tabbar">
  <a class="weui-btn weui-btn_primary" id="signup-btn">{% trans "Review Lecture" %}</a>
</div>
{% endif %}
{% endblock tabbar %}

{% block js %}
{{ block.super }}
{% if lecture.is_finished %}
<script>
weui.tab("#navbar-tab",{
  defaultIndex: 0,
  onChange: function(index){
    console.log(index)
    $("#panel-content0").removeAttr("style");
    $("#panel-content1").removeAttr("style");
    $("#panel-content"+ index).css("display", "block");
    if(index == 0) {
      $("#panel-content1").empty();
    } else if(index == 1) {
      $("#panel-content0").hide();
      let loading = weui.loading('{% trans "loading" %}');
      setTimeout(function() {
        loading.hide(function() {
          let url = "{% url 'feedbacks.list_lecture_comments' 0 %}".replace("0", "{{ lecture.id }}");
          $('#panel-content1').load(url);
        });
      });
    }
  }
});
</script>
{% endif %}
<script>
$("#signup-btn").click(function(){
  let add_behavior = "{% url 'feedbacks.add_behavior' 'listened' 0 %}".replace("0", "{{ lecture.id }}");
  $.get(add_behavior);
  let url = "{{ lecture.url }}";
  window.location.replace(url);
});
</script>
<script>
$("#action-menu").bind("click", function() {
  var that = this
  weui.actionSheet([
    {
      label: "{% trans "Add to Favorites" %}",
      onClick: function() {
        let url = "{% url 'feedbacks.add_behavior' 'favour' 0 %}".replace("0", "{{ lecture.id }}");
        $.get(
          url,
          function(data){
            if (data["status"] === "200"){
              weui.toast("{% trans "Add to Favorites Success!" %}", 500);
            } else {
            }
          },
          "json"
        );
      }
    },
    {
      label: "{% trans "Hide This" %}",
      onClick: function() {
        let url = "{% url 'feedbacks.add_behavior' 'hide' 0 %}".replace("0", "{{ lecture.id }}");
        $.get(
          url,
          function(data){
            if (data["status"] === "200"){
              weui.toast("{% trans "Hide Success!" %}", 500);
            } else {
            }
          },
          "json"
        );
      }
    }
  ], [
    {
      label: "{% trans "Cancel" %}",
      onClick: function() {
      }
    }
  ]);
});
</script>
{% endblock js %}
