{% load i18n staticfiles %}
{% for lecture in lecture_list %}
<a href="{% url 'lectures.lecture_detail' lecture.id %}" class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd">
    <img class="weui-media-box__thumb" src="{{ MEDIA_URL }}{{ lecture.speaker__picture }}" alt="">
  </div>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title">{% blocktrans with number=lecture.meeting__number %}The {{ number }} Meeting: {% endblocktrans %}{{ lecture.topic }}</h4>
    <p class="weui-media-box__desc">{{ lecture.speaker__intro }}</p>
    <ul class="weui-media-box__info" style="color: black">
      <li class="weui-media-box__info__meta">
      {% blocktrans with month=lecture.time|date:"n" day=lecture.time|date:"j" time=lecture.time|time:"TIME_FORMAT" %}
      Time: {{ month }} Month {{ day }} Day {{ time }}
      {% endblocktrans %}
      </li>
    </ul>
  </div>
</a>
<div class="weui-footer" style="background-color: #f8f8f8;">
  <p class="weui-footer__text">{% trans "Supported by New Finance Explorer" %}</p>
  <p class="weui-footer__text">Copyright &copy; 2017-2018 quantilse.com</p>
</div>
{% empty %}
{% endfor %}
