{% load i18n staticfiles %}
{% for lecture in lecture_list %}
<a href="{% url 'lectures.lecture_detail' lecture.id %}" class="weui-media-box weui-media-box_appmsg">
  <div class="weui-media-box__hd">
    {% if lecture.speaker__picture %}
    <img class="weui-media-box__thumb" src="{{ MEDIA_URL }}{{ lecture.speaker__picture }}" alt="">
    {% else %}
    <img class="weui-media-box__thumb" src="{% static "images/icons/speaker_default.png" %}" alt="">
    {% endif %}
  </div>
  <div class="weui-media-box__bd">
    <h4 class="weui-media-box__title">{{ lecture.topic }}</h4>
    <p class="weui-media-box__desc">{{ lecture.speaker__intro }}</p>
    <ul class="weui-media-box__info">
      {% if lecture.meeting__name %}
      <li class="weui-media-box__info__meta">
      {{ lecture.meeting__name }}
      {% for meeting_number, count in meeting_dict.items %}
        {% if meeting_number == lecture.meeting__number %}
        {% blocktrans %} | Now {{count}} Topics{% endblocktrans %}
        {% endif %}
      {% endfor %}
      </li>
      {% else %}
      <li class="weui-media-box__info__meta" style="color: black">
      {% blocktrans with month=lecture.time|date:"n" day=lecture.time|date:"j" time=lecture.time|time:"TIME_FORMAT" %}
      Time: {{ month }} Month {{ day }} Day {{ time }}
      {% endblocktrans %}
      {% endif %}
      </li>
    </ul>
  </div>
</a>
{% empty %}
{% endfor %}
{% if lecture_list|length > 3 %}
<div class="weui-footer" style="background-color: #f8f8f8;">
  <p class="weui-footer__text">{% trans "Supported by New Finance Explorer" %}</p>
  <p class="weui-footer__text">Copyright &copy; 2017-2018 rainincrease.com</p>
</div>
{% endif %}
