{% load i18n %}
{% if can_add_comment %}
<a class="weui-cell weui-cell_access" href="{% url 'feedbacks.add_comment' lecture_id %}">
  <div class="weui-cell__bd"></div>
  <div class="weui-cell__ft">{% trans "Add Comment" %}</div>
</a>
{% endif %}
<div class="weui-cell" style="padding: 0px;"></div>
{% if comment_list %}
<div class="weui-panel">
  {% for comment in comment_list %}
  <div class="weui-panel__bd">
    <div class="weui-media-box weui-media-box_small-appmsg">
      <div class="weui-cells">
        <div class="weui-cell">
          <div class="weui-cell__hd"><img src="{{ comment.user.headimgurl }}" alt="" style="width:20px;margin-right:5px;display:block"></div>
          <div class="weui-cell__bd">
            <p style="font-size: 14px;">{{ comment.user.last_name }}{{ comment.user.first_name }}({{ comment.user.company }})</p>
          </div>
          <span class="weui-cell__ft" style="font-size: 13px;">{{ comment.score }} {% trans "Point" %} |
          {% blocktrans with month=comment.time|date:"n" day=comment.time|date:"j" time=comment.time|time:"TIME_FORMAT" %}
            {{ month }} Month {{ day }} Day {{ time }}
          {% endblocktrans %}
          </span>
        </div>
        <div class="weui-cell__bd weui-cell_primary">
          <p style="font-size: 13px; padding: 10px 15px;">{{ comment.detail }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<div class="weui-loadmore weui-loadmore_line">
  <span class="weui-loadmore__tips">{% trans "No Comments" %}</span>
</div>
{% endif %}
