{% extends "./index.html" %}
{% load i18n %}
{% block title %}{% trans "Add Question" %}{% endblock title %}

{% block content %}
{% include "./common.html" %}
<div class="weui-panel">
  <div class="weui-panel__bd">
    <form action="{% url 'feedbacks.add_question' lecture.id %}" method="post">
      {% csrf_token %}
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" placeholder="{% trans "Please enter your question: " %}" rows="12" name="detail" id="id_detail" maxlength="200" required></textarea>
        <div>
      <div>
      <div class="weui-btn-area">
        <input type="submit" class="weui-btn weui-btn_primary">
      </div>
    </form>
  </div>
</div>
{% endblock content %}

{% block tabbar %}
{% endblock tabbar %}

{% block js %}
{{ block.super }}
<script>
$("form").submit(function(){
  weui.toast("{% trans "Submit Success!" %}", 500);
});
</script>
{% endblock js %}
