{% extends "./index.html" %}
{% load i18n %}
{% block title %}{% trans "Add Question" %}{% endblock title %}

{% block css %}
{{ block.super }}
<style>
#submit-btn {
  border-radius: 0px;
  width: 100%;
}
#submit-btn:after {
  border: 0px;
  border-radius: 0px;
}
</style>
{% endblock css %}

{% block content %}
{% include "./common.html" %}
<form action="{% url 'feedbacks.add_question' lecture.id %}" method="post">
  <div class="weui-panel">
    <div class="weui-panel__bd">
      {% csrf_token %}
      <div class="weui-cell">
        <div class="weui-cell__bd">
          <textarea class="weui-textarea" placeholder="{% trans "Please enter your question: " %}" rows="15" name="detail" id="id_detail" maxlength="200" required></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="weui-tabbar">
    <input type="submit" class="weui-btn weui-btn_primary" id="submit-btn">
  </div>
</form>
{% endblock content %}

{% block tabbar %}
{% endblock tabbar %}

{% block js %}
{{ block.super }}
<script>
$("form").submit(function(){
  weui.toast("{% trans "Submit Success!" %}", 500);
});
</script>
{% endblock js %}
