{% load i18n staticfiles %}
<div class="weui-tabbar" id="tabbar-tab">
  <a href="javascript:;" class="weui-tabbar__item" id="tabbar-tab0">
    <img src="{% static "images/icons/tabbar0.png" %}" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">{% trans "Lectures" %}</p>
  </a>
  <a href="javascript:;" class="weui-tabbar__item" id="tabbar-tab1">
    <img src="{% static "images/icons/tabbar1.png" %}" alt="" class="weui-tabbar__icon">
      <p class="weui-tabbar__label">{% trans "Records" %}</p>
  </a>
  <a href="javascript:;" class="weui-tabbar__item" id="tabbar-tab2">
    <img src="{% static "images/icons/tabbar2.png" %}" alt="" class="weui-tabbar__icon">
    <p class="weui-tabbar__label">{% trans "Profile" %}</p>
  </a>
</div>
